# San Francisco Salaries

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
sal = pd.read_csv('Salaries.csv')

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
sal.index

RangeIndex(start=0, stop=148654, step=1)

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
sal['BasePay'].mean()

66325.44884050643

In [8]:
sal['OvertimePay'].max()

245131.88

Get the row for JOSEPH DRISCOLL

In [9]:
# Locate the row where the EmployeeName is JOSEPH DRISCOLL.
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [10]:
# The above, but drill down to his salary.
sal.loc[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

## Who is the highest paid person?

In [11]:
sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

`DataFrame.idxmax()` is also a great way to return a where where a column contains a maximum value. Looks better than the above in any case. I assume there also a `DataFrame.min()`. Let me go check ... yeah, there is.

Of course, we have to be sure that there is only one occurence of this value, or accept that only the first one will be returned.

In [30]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

## Who is the lowest paid person?

In [15]:
sal.loc[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Using the short and sweet `DataFrame.idxmin()`.

In [33]:
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

## What was the mean `BasePay` per year?

In [35]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

## How many job titles are there?

In [17]:
sal['JobTitle'].nunique()

2159

## What are the top five most common jobs?

My approach, below, returned the correct results, but was a great deal more verbose. Honestly, I'm not sure what I was thinking when I wrote this.

In [18]:
sal.groupby('JobTitle')['Id'].count().sort_values(ascending=False).head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

This approach, taken from the course notebook, is more terse. `df.value_counts()` returns a sorted `Series`. It wasn't necessary to explicitly call 5 in the `.head()` method, as the course notebook did, because `.head()` returns the first five rows are elements by default.

In [38]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

## How many jobs were represented by only one person in 2013?

This looks ugly, but it works, and it's better than the official solution.

In [19]:
(sal.loc[sal['Year'] == 2013]['JobTitle'].value_counts() == 1).sum()

202

## How many people have the word "Chief" in their job title?

This does not account for words that contain the sequence *chief*, but I strongly doubt any San Francisco public servants are *handerkerchiefs*, so there's no need to delve into some regex, thank the gods.

In [20]:
sal['JobTitle'].str.lower().str.contains('chief').sum()

627

## Is there a correlation between job title length and salary?

In [21]:
# Isolate the arrays of interest to make the next steps easier.
job_len = sal['JobTitle'].str.len()
tot_pay = sal['TotalPayBenefits']

In [22]:
# Test for normality.
print(stats.normaltest(job_len))
print(stats.normaltest(tot_pay))

NormaltestResult(statistic=6671.8410301946387, pvalue=0.0)
NormaltestResult(statistic=4554.6993558600043, pvalue=0.0)

Both Series look to be normally distributed, so a Pearson's r is appropriate.

In [23]:
sal['JobTitle'].str.len().corr(sal['TotalPayBenefits'])

-0.036878445932606758

There is a statistically significant negative correlation, suggesting that higher pay is associated with shorter job titles, strangely.