In [11]:
sa = {1, 2}

In [13]:
for n in range(11):
    sa.add(n)
sa

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
sb = {1, 2, 3, 4}
sc = {4, 5, 6, 7}

# Show what sb has that sc does not.
sb.difference(sc)

{1, 2, 3}

In [19]:
# Remove all elements from the first set that are also in the second set.
sb.difference_update(sc)
sb

{1, 2, 3}

In [28]:
s1 = {n for n in range(10)}
s2 = {n for n in range(5, 15)}

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9}, '\n', {5, 6, 7, 8, 9, 10, 11, 12, 13, 14})

In [29]:
# Return the intersection of some sets.
s1.intersection(s2)

{5, 6, 7, 8, 9}

In [31]:
# Change the first set to be equal to its intersection with the second set
s1.intersection_update(s2)
s1

{5, 6, 7, 8, 9}

In [32]:
s1 = {1, 2}
s2 = {1, 2, 3}
s3 = {4}

In [33]:
# Return whether the two sets have no identical values.
# Return True if the two sets have a null intersection.
s1.isdisjoint(s2)

False

In [34]:
s1.isdisjoint(s3)

True

In [35]:
# Return True if the first set is a subset of the second set.
s1.issubset(s2)

True

In [36]:
# Return True if the first set is a superset of the second set.
s2.issuperset(s1)

True

In [37]:
# Return a set all elements found in only one set.
s1.symmetric_difference(s2)

{3}

In [39]:
# Return a union of two sets.
s1.union(s3)

{1, 2, 4}

In [40]:
# Add all elements to the first set from the second set.
s1.update(s2, s3)
s1

{1, 2, 3, 4}