In [2]:
import datetime

## `datetime`

In [3]:
# Create a time in the format of (hours, minutes, seconds, microseconds)

t = datetime.time(22, 38, 13, 2)
print(t)

22:38:13.000002

In [4]:
print("Time:", t)
print("Hours:", t.hour)
print("Minutes:", t.minute)
print("Seconds:", t.second)
print("Microseconds:", t.microsecond)
print("Timezone", t.tzinfo)

Time: 22:38:13.000002
Hours: 22
Minutes: 38
Seconds: 13
Microseconds: 2
Timezone None

There are minimum and maximum possible time values.

In [5]:
print("Maximum:", datetime.time.max)
print("Minimum:", datetime.time.min)

Maximum: 23:59:59.999999
Minimum: 00:00:00

## `datetime.date`

In [11]:
today = datetime.date.today()
print("Today:", today)
print("ctime:", today.ctime()) # Return a string representation of the date.
print("tuple", today.timetuple()) # Return a struct time of the date where hours/minutes/seconds equal 0.
print("ordinal", today.toordinal()) # The number of the day, counting from Day 1, Year 1.
print("year:", today.year)
print("month:", today.month)
print("day:", today.day)

Today: 2017-06-06
ctime: Tue Jun  6 00:00:00 2017
tuple time.struct_time(tm_year=2017, tm_mon=6, tm_mday=6, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=157, tm_isdst=-1)
ordinal 736486
year: 2017
month: 6
day: 6

The range of `date` values that are support can be found with the `min` and `max` attributes.

In [12]:
print("Earliest:", datetime.date.min)
print("Latest:", datetime.date.max)
print("Resolution:", datetime.date.resolution)

Earliest: 0001-01-01
Latest: 9999-12-31
Resolution: 1 day, 0:00:00

The `replace` method is another way to make new `date` instances. It simply switches out part the date (year, month, day) for another value.

In [16]:
date_1 = datetime.date(1988, 7, 5)
date_2 = date_1.replace(year=2099)

print(date_1)
print(date_2)

1988-07-05
2099-07-05

## Time Arithmetic

Perform arithmetic operations on `datetime` objects to get time differences.

In [19]:
# Return a difference as a number of days.
date_2 - date_1

datetime.timedelta(40542)